<head>
  <link href="<%= url('/navbar_style.css') %>" rel="stylesheet" type="text/css" /> 
</head>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<div class="navbar">
  <p><a href="/spaces" style="display">MakersBnB</a>

  <% if @user %>
    Logged in as <%= @user.name %>
    <form action="/user/logout" method="post">
      <input type="submit" value="Log out">
    </form>

    <button> <a href="/spaces/new"> Create a listing </a> </button>
  
  <% else %>
    <form action="/user/new" method="get">
      <input type="submit" value="Sign up">
    </form>
    <form action="/user/login" method="get">
      <input type="submit" value="Log in">
    </form>
  </p>

<% end %>

</div>
<body>
  <%= yield %>
</body>
