<form action="/bookings/<%= @space_id %>" method="post">
  <label for="date">Request a night:</label>

  <select name="date" id="date">  
    <% @available_dates.each do |date| %>
      <% if !@unavailable_dates.include?(date) %>
        <option value="<%= date %>"><%= date %></option>
        <% else %>
        <option value="<%= date %>" disabled><%= date %></option>
      <%end %>
    <% end %>
  </select>

  <input type="submit" value="Make request">
</form>