<h1><%= @space.title %></h1>
<p><%= @space.description %></p>
<p>£<%= @space.price %></p>
<p>Available from: <%= @space.availability_from %> to <%= @space.availability_until %>
<p>Posted by <%= @space_owner.name %></p>

<% if !@user %>
  <p>To book a space</p>
  <a href="/user/new" class="button">
    Sign up
  </a>
  <span>or</span>
  <a href="/user/login" class="button">
    Log in
  </a>
<% elsif @space_owner.id != @user.id %>
  <button>
    <a href="/bookings/<%= @space.id %>/new">Request booking</a>
  </button>
<% else %>
  <p>You are the owner of this space</p>
  <a href="/spaces" class="button">
    All spaces
  </a>
<% end %>
