<h1><%= @space.title %></h1>
<p><%= @space.description %></p>
<p>£<%= @space.price %></p>
<p>Available from: <%= @space.availability_from %> to <%= @space.availability_until %>
<p>Posted by <%= @space_owner.name %></p>

<button>
  <a href="/bookings/<%= @space.id %>/new">Request booking</a>
</button>



<% if @user && @space_owner.id == @user.id %>
  <form action="/spaces/delete/<%= @space.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>

  <button>
    <a href="/spaces/<%= @space.id %>/update">Update booking</a>
  </button>
<% end %>
