<h1><%= @space.title %></h1>
<p><%= @space.description %></p>
<p>£<%= @space.price %></p>
<p>Posted by <%= @space_owner.name %></p>

<button>
  <a href="/bookings/<%= @space.id %>/new">Request booking</a>
</button>